<table mat-table [dataSource]="vetor" class="mat-elevation-z8">

    <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let pessoa"> {{pessoa.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let pessoa"> {{pessoa.nome}} </td>
  </ng-container>

  <!-- E-mail Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let pessoa"> {{pessoa.email}} </td>
  </ng-container>

  <!-- DataNascimento Column -->
  <ng-container matColumnDef="dataNascimento">
    <th mat-header-cell *matHeaderCellDef> D.N </th>
    <td mat-cell *matCellDef="let pessoa"> {{pessoa.dataNascimento}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>